@model appproy.Models.Pagos
 
@{
    ViewData["Title"] = "DETALLES DE PAGO";
}

<h1>@ViewData["Title"]</h1>

    <tbody class="d-flex justify-content-center">

        <div class="list-group">
            <a href="#" class="list-group-item">
                <h4 class="list-group-item-heading">Usuario</h4>
                <p style="font-size: 20px;" class="list-group-item-text">@Html.DisplayFor(model => model.UserID)</p>
            </a>
            <a href="#" class="list-group-item">
                <h4 class="list-group-item-heading">Nombre:</h4>
                <p style="font-size: 20px;" class="list-group-item-text">@Html.DisplayFor(model => model.Name)</p>
            </a>
            <a href="#" class="list-group-item">
                <h4 class="list-group-item-heading">Apellido:</h4>
                <p style="font-size: 20px;" class="list-group-item-text">@Html.DisplayFor(model => model.LastName)</p>
            </a>
            <a href="#" class="list-group-item">
                <h4 class="list-group-item-heading">DNI:</h4>
                <p style="font-size: 20px;" class="list-group-item-text">@Html.DisplayFor(model => model.DNI)</p>
            </a>
            <a href="#" class="list-group-item">
                <h4 class="list-group-item-heading">Celular:</h4>
                <p style="font-size: 20px;" class="list-group-item-text">@Html.DisplayFor(model => model.Celular)</p>
            </a>
            <a href="#" class="list-group-item">
                <h4 class="list-group-item-heading">Computacion:</h4>
                <p style="font-size: 20px;" class="list-group-item-text">@Html.DisplayFor(model => model.Computacion_info)</p>
            </a>
            <a href="#" class="list-group-item">
                <h4 class="list-group-item-heading">Confeccion:</h4>
                <p style="font-size: 20px;" class="list-group-item-text">@Html.DisplayFor(model => model.Confeccion_info)</p>
            </a>
            <a href="#" class="list-group-item">
                <h4 class="list-group-item-heading">Estetica:</h4>
                <p style="font-size: 20px;" class="list-group-item-text">@Html.DisplayFor(model => model.Estetica_info)</p>
            </a>
            <a href="#" class="list-group-item">
                <h4 class="list-group-item-heading">Horario:</h4>
                <p style="font-size: 20px;" class="list-group-item-text">@Html.DisplayFor(model => model.Turno)</p>
            </a>
            <a href="#" class="list-group-item">
                <h4 class="list-group-item-heading">Codigo Voucher:</h4>
                <p style="font-size: 20px;" class="list-group-item-text">@Html.DisplayFor(model => model.Codigo_recibo)</p>
            </a>
            <a href="#" class="list-group-item">
                <h4 class="list-group-item-heading">Foto Voucher:</h4>
                <img class="img-responsive" width="500" height="500" src="@Html.DisplayFor(model => model.Foto_recibo)" />
            </a>
        </div>
    </tbody>