@model dynamic;
@using System.Collections.Generic;

@{
    ViewData["Title"] = "Pagos";
    IEnumerable<appproy.Models.Pagos> listItemsPagos = new List<Pagos>();
    listItemsPagos = @Model.elementosDatos;
}


<h1>@ViewData["Title"]</h1>

<a class="nav-link text-dark" asp-area="" asp-controller="Pagos" asp-action="vistaP"><b>Vista2.0</b></a>

<table class="table">

    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => listItemsPagos.FirstOrDefault().Turno)
            </th>
            <th>
                @Html.DisplayNameFor(model => listItemsPagos.FirstOrDefault().Monto)
            </th>
            <th>
                @Html.DisplayNameFor(model => listItemsPagos.FirstOrDefault().Codigo_recibo)
            </th>
            <th>
                @Html.DisplayNameFor(model => listItemsPagos.FirstOrDefault().Foto_recibo)
            </th>
            <th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (Pagos item in Model.elementosDatos) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DNI)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Celular)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Turno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Monto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Codigo_recibo)
            </td>
            <td>
                <img class="img-responsive" width="500" height="500"
                       src="@Html.DisplayFor(modelItem => item.Foto_recibo)" />
            </td>

            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>