@model dynamic;
@using System.Collections.Generic;
 
@{
    ViewData["Title"] = "DATOS DE USUARIO";
    IEnumerable<appproy.Models.UsersInfo> listItemsDatos = new List<UsersInfo>();
    listItemsDatos = @Model.elementosDatos;
}

<h1>@ViewData["Title"]</h1>

    <tbody class="d-flex justify-content-center">
@foreach (UsersInfo item in Model.elementosDatos) {
        <div class="list-group">
            <a href="#" class="list-group-item">
                <h4 class="list-group-item-heading">Nombre</h4>
                <p style="font-size: 20px;" class="list-group-item-text">@Html.DisplayFor(modelItem => item.Name)</p>
            </a>
            <a href="#" class="list-group-item">
                <h4 class="list-group-item-heading">Apellidos</h4>
                <p style="font-size: 20px;" class="list-group-item-text">@Html.DisplayFor(modelItem => item.LastName)</p>
            </a>
            <a href="#" class="list-group-item">
                <h4 class="list-group-item-heading">Nacionalidad</h4>
                <p style="font-size: 20px;" class="list-group-item-text">@Html.DisplayFor(modelItem => item.Nacionalidad)</p>
            </a>
            <a href="#" class="list-group-item">
                <h4 class="list-group-item-heading">DNI</h4>
                <p style="font-size: 20px;" class="list-group-item-text">@Html.DisplayFor(modelItem => item.DNI)</p>
            </a>
            <a href="#" class="list-group-item">
                <h4 class="list-group-item-heading">Pasaporte</h4>
                <p style="font-size: 20px;" class="list-group-item-text">@Html.DisplayFor(modelItem => item.Pasaporte)</p>
            </a>
            <a href="#" class="list-group-item">
                <h4 class="list-group-item-heading">Carnet de Extranjeria</h4>
                <p style="font-size: 20px;" class="list-group-item-text">@Html.DisplayFor(modelItem => item.Carnet_de_extranjeria)</p>
            </a>
            <a href="#" class="list-group-item">
                <h4 class="list-group-item-heading">Cumpleaños</h4>
                <p style="font-size: 20px;" class="list-group-item-text">@Html.DisplayFor(modelItem => item.BirthDate)</p>
            </a>
            <a href="#" class="list-group-item">
                <h4 class="list-group-item-heading">Celular</h4>
                <p style="font-size: 20px;" class="list-group-item-text">@Html.DisplayFor(modelItem => item.Celular)</p>
            </a>
            <a href="#" class="list-group-item">
                <h4 class="list-group-item-heading">Operador</h4>
                <p style="font-size: 20px;" class="list-group-item-text">@Html.DisplayFor(modelItem => item.Operador)</p>
            </a>
            <a href="#" class="list-group-item">
                <h4 class="list-group-item-heading">Sexo</h4>
                <p style="font-size: 20px;" class="list-group-item-text">@Html.DisplayFor(modelItem => item.Sexo)</p>
            </a>
            <a href="#" class="list-group-item">
                <h4 class="list-group-item-heading">Correo</h4>
                <p style="font-size: 20px;" class="list-group-item-text">@Html.DisplayFor(modelItem => item.Correo)</p>
            </a>
            <a href="#" class="list-group-item">
                <h4 class="list-group-item-heading">Direccion</h4>
                <p style="font-size: 20px;" class="list-group-item-text">@Html.DisplayFor(modelItem => item.Direccion)</p>
            </a>
            <a href="#" class="list-group-item">
                <h4 class="list-group-item-heading">Distrito</h4>
                <p style="font-size: 20px;" class="list-group-item-text">@Html.DisplayFor(modelItem => item.Distrito)</p>
            </a>
        </div>
}
    </tbody>