@model dynamic;
@using System.Collections.Generic;

@{
    ViewData["Title"] = "Impresion";
    IEnumerable<appproy.Models.Pagos> listItemsPagos1 = new List<Pagos>();

    listItemsPagos1 = @Model.elementosConfeccion;

}
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<br>
<br>
<div>
    <div>
        <h1>Confeccion Textil</h1>
    </div>
        @foreach (Pagos item in Model.elementosConfeccion) {
        <div class="container align-middle">
            <table class="table table-bordered" style="border: 3px solid gray;height: 100px">
                <tr>
                <th scope="row" width="5%" style="text-align: center; vertical-align: middle; border: 3px solid gray">@Html.DisplayFor(modelItem => item.Id )</th>
                <th scope="row" width="47%" style="vertical-align: middle;">
                                <table class="table table-bordered " style="border: 3px solid gray;">
                                    <tr style="border: 3px solid gray">
                                    <td style="text-align: center; vertical-align: middle;">@Html.DisplayFor(modelItem => item.LastName ), @Html.DisplayFor(modelItem => item.Name )</td>
                                    </tr>
                                    <tr style="border: 3px solid gray">
                                        <td style="text-align: center; vertical-align: middle;">OP. @Html.DisplayFor(modelItem => item.Codigo_recibo )</td>
                                    </tr>
                                    <tr style="border: 3px solid gray">
                                        <td style="text-align: center; vertical-align: middle;">@Html.DisplayFor(modelItem => item.CreationDate )</td>
                                    </tr>
                                    <tr style="border: 3px solid gray">
                                    <td style="text-align: center; vertical-align: middle;">@Html.DisplayFor(modelItem => item.Area )</td>
                                    </tr>
                                    <tr style="border: 3px solid gray">
                                        <td style="text-align: center; vertical-align: middle;">S/ @Html.DisplayFor(modelItem => item.Monto )</td>
                                    </tr>
                                    <tr style="border: 3px solid gray">
                                        <td style="text-align: center; vertical-align: middle;">@Html.DisplayFor(modelItem => item.Curso )</td>
                                    </tr>
                                </table>
                </th>
                <th scope="row" width="48%" style="text-align: center; vertical-align: middle; border: 3px solid gray">
                        <img class="img-responsive" width="370" height="260"
                        src="@item.Foto_recibo" alt="@item.Foto_recibo"  />
                    </th>
                </tr>
            </table>
            <br>
            
        </div>
        }
</div>
        <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
                        <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>